<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiência Profissional</title>
</head>

<body>
    <div id="experiencia">
        <h3>Experiência Profissional:</h3>
        <table>
            <thead>
                <tr>
                  <th scope="col">Vaga/Empresa</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Duração</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Artesã autônoma</th>
                  <td>Modelo peças em porcelana fria por encomenda e as envio para vários países ao redor do mundo, como Estados Unidos, França, Alemanha e Austrália.<br></br></td>
                  <td>2014-presente</td>
                </tr><br></br>
                <tr>
                  <th scope="row">Helpdesk - Accenture do Brasil</th>
                  <td>Prestar suporte web para usuários de uma plataforma de cotações com uma empresa terceira.<br></br></td>
                  <td>2019</td>
                </tr>
                <tr>
                  <th scope="row">Operadora Bilíngue - Speedmais</th>
                  <td>Atender e resolver tickets de suporte para usuários de uma plataforma de ride hailing, em inglês, português e espanhol</td>
                  <td>2023</td>
                </tr>
                <tr>
                  <th scope="row">Vendas - BotoPlace</th>
                  <td>Vendas de produtos de estética e atendimento via chat para clientes falantes de inglês, português e espanhol. Administração de CRM, elaboração de relatórios de vendas, revisão e elaboração de textos para site e mídias digitais.</td>
                  <td>2023-presente</td>
                </tr>
              </tbody>
        </table>
    </div>
</body>
</html>
