<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formação Acadêmica</title>
</head>

<body>
    <div>
        <h3>Formação Acadêmica</h3>
        <ul>
            <li>Ensino Médio - Grupo Gênese de Ensino</li>
            <li>Graduação em Engenharia Química - UFPE (incompleto)</li>
            <li>Graduação em Medicina Veterinária - UFRPE (incompleto)</li>
            <li>Análise e Desenvolvimento de Sistemas - Faculdade SENAC (em andamento)</li>
        </ul>
    </div>
</body>
</html>
