<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>

<body>
    <div id="sobre">
        <h3>Sobre:</h3>
        <p>Ela/dela, 31 anos, autista e uma nerd incorrigível. Mãe de dois gatos e também artista amadora nas horas vagas. Entusiasta da criatividade - adoro escrever o que me vem na cabeça. Adoro idiomas estrangeiros - fluentemente, falo inglês e espanhol. Estou aprendendo francês e japonês. Busco me reencontrar na área da tecnologia e encontrar um empreguinho que eu possa executar no silêncio da minha casa.</p>
    </div>
</body>

</html>