/* styles.css */

body {
    background: linear-gradient(to bottom, #b2f2b2, #ffffff); /* Gradiente verde pastel para branco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura da tela inteira */
    margin: 0;
    font-family: 'Arial', sans-serif; /* Fonte padrão */
}

.carousel {
    text-align: center; /* Centraliza o texto */
}

.carousel-item {
    display: none; /* Esconde todos os itens inicialmente */
    font-size: 3em; /* Tamanho da fonte em letras garrafais */
    color: #007b5f; /* Cor do texto */
}

.carousel-item.active {
    display: block; /* Mostra o item ativo */
}
